{% extends 'base.html' %}
{% block content %}
<div class="card" style="width: 100%; background-color: #b2cad1; border-color: #b2cad1;">
    <img src="{{car.image.url}}" class="card-img-top" style="width: 60%; align-self: center; border-radius: 50%;">
        <div class="card-body" style="text-align: center;">
            <h1 class="card-title mt-4">{{car.car_brand}}</h1>
            <h3 class="card-text mt-3" style="font-style: italic; font-weight: bold;">{{car.car_name}}</h3>
            <p class="card-text mt-3" style="font-weight: bold; font-size: 22px;">Price - T.K {{car.price}}</p>
            <p class="card-text" style="font-size: 25px; font-style: oblique;">Available quantity - {{car.quantity}}</p>
            <p class="card-text mb-4 mt-3" style="font-size: 20px;">{{car.description}}</p>
            {% if user.is_authenticated %}
                <a href="{% url 'buycar' car.id %}" class='btn btn-primary'>Buy Car</a>
            {% endif %}
        </div>
</div>
{% load crispy_forms_tags %}
<div class="card m-2">
    <h5 class="p-2">Total Comments : {{comments | length}}</h5>
    {% for cmnt in comments %}
    <div class="card-body border m-2">
        <p><b>{{cmnt.name}}</b> {{cmnt.created_on}}</p>
        <p>{{cmnt.comment_area}}</p>
    </div>
    {% endfor %}
</div>
<div class="card m-2">
    <div class="card-body">
        <form method="post">
            <h1>Add Comment</h1>
            {% csrf_token %}
            {{comment_form | crispy}}
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}